body{
    background-color:aqua
}
.square{
    width:30%;
    background:black;
    padding-bottom: 30%;
    float: left;
    margin:1.66%;

}
#container{
    margin:0 auto;;
    max-width: 600px;
}
h1{
    color:chocolate;
}